<%- include('partials/header', {title: title}) %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a href="/team" class="button">Our Team</a>
  <a href="/skills" class="button">Skills List</a>
<%- include('partials/footer') %>
