<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Our Team</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Back</a></li>
        </ul>
      </nav>

        <h1>Our Team</h1>

        <ul>
            <% team.forEach(function(person) { %>
                <li>
                    <a href="/team/<%= person.id %>">
                        <%= person.firstname %>
                        <%= person.lastname %>
                    </a>
                </li>
            <% }); %>
</body>
</html>