body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f1ed;
}

a {
  color: #70798c;
}

a:hover{
  color: #a99985;
}

.button {
  background-color: #a99985;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #dad2bc;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#team{
  list-style-type: none;
  margin: 0;
  padding-left: 3px;
}

#team > li > img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin-right: 10px;
}

#team > li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#team > li > a {
  text-decoration: none;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dad2bc;
  padding: 10px;
  max-width: 20vw;
}

.profile > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: #70798c 5px solid;
}

.profile > a {
  text-decoration: none;
  padding-bottom: 5px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252323;
  color: white;
  padding: 10px;
  width: 100%;
}

.skills > h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

#skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#skills > li {
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70%;
  background-color: #bca180;
  padding: 5px;
  text-decoration: none;
  color: white;
}

#skills > li > a:hover {
  background-color: #a99985;
}

.skill{
  margin-bottom: 60px;
}

#addSkillBtn{
  margin-top: 60px;
  float: right;
}

.delete > button {
  background-color: rgb(129, 17, 17);
}

.delete > button:hover{
  background-color: rgb(188, 10, 10);
}

.delete {
  display: inline-block;
}

.skill > form > input {
  background-color: #dad2bc;
  border: none;
  padding: 5px 10px;
  margin: 4px 2px;
}
